.scale {
    transition: 200ms;
    transform: scale(1);
}

body {scroll-behavior: smooth;}

.scale:hover {
    transform: scale(1.16);
}

.uvcimg:hover {
    transform: scale(1.6) !important
}
@keyframes abrirmenu {
    0% {
        width: 0%;
        transition: 200ms;
    }

    100% {
        width: 100%;
    }
}

@keyframes fecharmenu {
    0% {
        width: 100%;
        transition: 200ms;
    }

    100% {
        width: 0%;
    }
}

.sliderleft {
animation: abrirmenu 360ms ease-in-out forwards;
}

.sliderright {
    animation: fecharmenu 360ms ease-in-out forwards;
    }

    .hoverscale {
        transform: scale(1);
        transition: 500ms;
    }

    .hoverscale:hover {
        transform: scale(1.1);
        transition: 200ms;
        cursor: pointer;
        background: #581a52 !important;
        border: 0px solid black !important;
    }
/* 
    .hoverscale:not(:hover) {
        transform: scale(0.9);
        transition: 200ms;

    } */

    .seta {
        transition: 300ms;
        transform: scale(1);
    }

    .seta:hover {
        scale: 1.4;
        cursor: pointer;
    }

    @keyframes growDown {
        0% {
            opacity: 0;
            transform: translatey(-30px);
          }

          100% {
            opacity: 1;
            transform: translatey(0px);
          }
        }

        @keyframes Open {
            0% {
                opacity: 0;
                transform: translateY(50%);
                height: 0%;
            }

            100% {
                opacity: 1;
                transform: translate(0);
                height: 100%;
            }

        }
        @keyframes opem {
            0% {
                opacity: 0;
                transform: translateY(50%);
                height: 0%;
            }

            100% {
                opacity: 1;
                transform: translate(0);
                height: 130%;
            }

        }

        .open {
            animation: Open 1000ms ease-in-out forwards;
        }

        .openmob {
            animation: opem 1000ms ease-in-out forwards;
            /* animation:  1000ms ease-in-out forwards; */
        }

        @keyframes slidedown {
            0% {
                height: 0px;
            }

            100% {
                height: 167px;
            }
        }

        .slidedown {
            animation: slidedown 300ms ease-in-out forwards;
        }