.scale {
    transition: 200ms;
    transform: scale(1);
}

.scale:hover {
    transform: scale(1.16);
}

.uvcimg:hover {
    transform: scale(1.6) !important
}
@keyframes abrirmenu {
    0% {
        width: 0%;
        transition: 200ms;
    }

    100% {
        width: 100%;
    }
}

@keyframes fecharmenu {
    0% {
        width: 100%;
        transition: 200ms;
    }

    100% {
        width: 0%;
    }
}

.sliderleft {
animation: abrirmenu 360ms ease-in-out forwards;
}

.sliderright {
    animation: fecharmenu 360ms ease-in-out forwards;
    }

    .hoverscale {
        transform: scale(1);
        transition: 500ms;
    }

    .hoverscale:hover {
        transform: scale(1.1);
        transition: 200ms;
        cursor: pointer;
        background: #581a52 !important;
        border: 0px solid black !important;
    }
/* 
    .hoverscale:not(:hover) {
        transform: scale(0.9);
        transition: 200ms;

    } */