:root {
    --cor-principal: #B140A6;
    --cor-fundo: #202020;
    --cor-secundaria: #da4ecc;
    --cor-terciaria: #6e2367;   
}
body {overflow: auto !important; }

html {font-size: 12px;}
a {text-decoration: none;}
a:hover {cursor: pointer;}
* {font-family: 'Arial';margin: 0;transition: 300ms;}

@font-face {
    font-family: 'Lakers';
    src: url(./Herborn.ttf);
}

@media (max-width: 480px) {
    html {
    font-size: calc(8px + 0.32vw);
    }
}

h1,h2,h3 {font-family: 'Arial';text-align: center;}

h1 {
/* font-family: 'Ropa Sans'; */
    font-weight: bold;
    font-size: 4.2rem;
    /* letter-spacing: 3.2px; */
}

.fontslide {font-family: 'Lakers';}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.36rem;
}

.center {
    display: grid;
    place-items: center;
    gap: 0.025rem;
}

h4 {
    font-weight: normal;
    font-size: 2.18rem;
}

p {
    font-size: 2.7rem;
}

.scale {
    cursor: pointer;
}

.link {
    color: '#327ba8';
    font-size: 20px;
    pointer-events: auto;
    cursor: pointer !important;
}

.button {
    padding: 9px 16px;
    background-color: var(--cor-principal);
    max-width: fit-content;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    /* box-shadow: inset 0px -4px 1px rgb(0 0 0 / 50%); */
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: var(--cor-terciaria);
}

.slider {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scrollbar-width: none;
  }

  .slide {
    width: 320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 76px 1fr;
    /* background: 
    background-size: cover; */
    /* background-image: url(/src/imgs/congregadores\ mão.png); */
  }  
.listItemPerso {
  text-align: center;
font-size: 20px;
border-bottom: 1px solid rgba(0,0,0,0.4);
padding: 12px 6px;
font-family: 'Ropa Sans';
}

.scroll::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #000000;
    border-radius: 20px;
}
